<div class="container">
    <div class="container_head">
        <h1>Todo - App</h1>
    </div>
    <div class="container_wrapper">
        <form action="main/create" method="post" >
            <table>
                <tr>
                    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
                    <td>         
                       <input type="text" class="input-group-text"id="text_inp" name="task" placeholder="Enter the task">   
                    </td>
                    <td>
                       <input type="date" class="input-group-text" name="due_date" id="date_inp">
                    </td>
                    <td>
                       <button type="submit" class="btn btn-primary">add</button>
                    </td>
                </tr>
            </table>
        </form>   
    </div>

        <table class="tasks">
            <th class="task-head">Tasks</th>
            <th class="task-head">Due Date</th>
                 
                    <% @to.each do |x| %>
                    <tr class="task-row">  
                        <td class="task-col"> 
                            <%= x.task %>
                        </td>
                    
                        <td class="task-col">      
                            <%= x.due_date%> 
                        </td>   
                        <td>
                            <a href="/delete/<%=x.id %>">
                            <button class="btn btn-primary">delete</button>
                        </a> 
                           
                        </td> 
                      
                    </tr> 
                     <% end %> 
            </table>

</div>